.search-box {
  .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-left: none;

    &:focus {
      outline: 0;
    }
  }

  .input-group-addon {

  }
}