<div class="user-info-page">
    <div class="col-lg-8 col-lg-offset-2">
        <form name="userInfoForm" novalidate>
            <div class="header">
                User Information
            </div>
            <div class="form-group">
                <input type="text"
                       name="firstName"
                       class="form-control"
                       data-ng-model="$ctrl.user.firstName"
                       placeholder="First Name" required />
            </div>
            <div class="form-group">
                <input type="text"
                       name="lastName"
                       class="form-control"
                       data-ng-model="$ctrl.user.lastName"
                       placeholder="Last Name" required />
            </div>
            <div class="form-group">
                <input type="text"
                       name="address1"
                       class="form-control"
                       data-ng-model="$ctrl.user.address1"
                       placeholder="Address 1" required />
            </div>
            <div class="form-group">
                <input type="text"
                       name="address2"
                       class="form-control"
                       data-ng-model="$ctrl.user.address2"
                       placeholder="Address 2"/>
            </div>
            <div class="form-group">
                <input type="text"
                       name="city"
                       class="form-control"
                       data-ng-model="$ctrl.user.city"
                       placeholder="City" required />
            </div>
            <div class="form-group">
                <input type="text"
                       name="state"
                       class="form-control"
                       data-ng-model="$ctrl.user.state"
                       placeholder="State/Province" required />
            </div>
            <div class="form-group empty-space-below">
                <input type="text"
                       name="postalCode"
                       class="form-control"
                       data-ng-model="$ctrl.user.postalCode"
                       placeholder="Postal Code" required />
            </div>
            <div class="form-group">
                <icon-textbox name="username"
                              icon="user"
                              placeholder="Username"
                              model="$ctrl.user.username"
                              type="text"></icon-textbox>
            </div>
            <div class="form-group empty-space-below">
                <icon-textbox name="password"
                              icon="key"
                              placeholder="Password"
                              model="$ctrl.user.password"
                              type="password"></icon-textbox>
            </div>
        </form>
    </div>
</div>