<div class="skills-page container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form name="$ctrl.form">
                <div class="header">Your Skills</div>
                <div class="description">List your skills and level of experience in each.</div>
                <div data-ng-repeat="skill in $ctrl.savedData.skills">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" data-ng-model="skill.skill" placeholder="Skill" required/>
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control" required>
                                    <option value="0" selected>Skill Level</option>
                                    <option value="1">Beginner</option>
                                    <option value="2">Intermediate</option>
                                    <option value="3">Proficient</option>
                                    <option value="4">Advanced</option>
                                    <option value="5">Expert</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" data-ng-model="skill.yearsExperience" placeholder="Years Experience" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.addNewSkill()">
                        <i class="fa fa-plus"></i> Add Skill
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>